.form-wrapper {
  width: 80%;
}
.new-post-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  margin-top: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.checkbox-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}

.checkbox-item input {
  margin-left: 1em;
}

#image-preview {
  height: 300px;
  width: 500px;
}

.toggle-list-wrapper {
  width: 20%;
}

#delete-button {
  display: none;
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}